body {
  height: auto;
  margin-top: 20%;
  background-color: rgb(110, 63, 153);
}
.image-icon {
  display: block;
  text-align: center;
  justify-content: center;
}
.social-icon {
  display: block;
}
img {
  border-radius: 50%;
  border: 2px solid gold;
  padding: 10px;
  max-width: 5%;
  height: auto;
  margin: 1.2rem;
  box-shadow: 3px 3px 3px black;
}
img:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 3px white;
}
